table{
    margin-left:25%;
    width: 50%;
    
 }
 table,th,td {
     color: rgb(86, 87, 87);
    background-color: rgb(250, 255, 250);
     border : 1px solid rgb(211, 95, 163);
     border-radius: 2vh;
     text-align: center;
    
 }
   
 
 button{
     color: #fff;
     background: rgb(196, 6, 155);
     padding: 1% 2%;
     margin-right: 1%;
     margin-bottom: 2%;
     border-style: none;
     border-radius: 10vh;
 } 
 button:hover { 
     background: rgb(224, 167, 212);
 } 
 button:active { 
     background: rgb(84, 64, 155); 
 } 